{% block content %}

    <div class="container w-full grid grid-cols-4 gap-10">
        {% for item in fields.gallery %}
        <img src="{{ item.url }}" />
        {% endfor %}
    </div>
{% endblock %}